<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Crypto App</title>
        <link rel="stylesheet" type="text/css" href="../static/css/pager-style.css">
        <script src="../static/js/script.js"></script>
    </head>

    <body>
        <div class="title-wrapper container-col">
            <div class="title-bar">
                Enigma
            </div>
            <div class="subtitle-bar">
                an encryption method, used by German army in WW2
            </div>
        </div>

        <form action="{{ url_for('view_enigma_result') }}" method="post" enctype="multipart/form-data" id="upload">
            <div class="input-wrapper container-col">
                <div class="check-wrapper">
                    <div class="container-row">
                        <div class="check-action-wrapper">
                            <h4 class="label">Select the action</h4>
                            <input type="radio" id="enc" name="act" value="enc" checked>
                            <label for="enc">Encrypt</label><br>
                            <input type="radio" id="dec" name="act" value="dec">
                            <label for="dec">Decrypt</label><br>
                        </div>
    
                        <div class="check-action-wrapper">
                            <h4 class="label">Select output type</h4>
                            <input type="radio" id="txt" name="type-out" value="txt" checked>
                            <label for="txt">Text</label><br>
                            <input type="radio" id="fil" name="type-out" value="file">
                            <label for="fil">File</label><br>
                        </div>
                    </div>

                    <div class="check-action-wrapper">
                        <h4 class="label">Select the display format (only for encryption)</h4>
                        <input type="radio" id="original" name="format" value="ori" checked>
                        <label for="original">Original</label><br>
                        <input type="radio" id="block" name="format" value="block">
                        <label for="block"> Blocked per 5 letters</label><br>
                    </div>

                    <div class="container-row">
                        <div class="check-action-wrapper">
                            <h4 class="label">Select rotor 1</h4>
                            <select name="rotor_1">
                                <option value="I">I</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="IV">V</option>
                            </select>
                        </div>
                        <div class="check-action-wrapper">
                            <h4 class="label">Select rotor 2</h4>
                            <select name="rotor_2">
                                <option value="I">I</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="IV">V</option>
                            </select>
                        </div>
                        <div class="check-action-wrapper">
                            <h4 class="label">Select rotor 3</h4>
                            <select name="rotor_3">
                                <option value="I">I</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="IV">V</option>
                            </select>
                        </div>
                    </div>

                     <div class="container-row">
                        <div class="check-action-wrapper">
                            <h4 class="label">Select position for each rotor</h4>
                            <h6 class="label">Hint: Type a three-letter string consisting of uppercase alphabets</h6>
                            <input type="text" name="position" value="{{ position }}">
                        </div>
                        <div class="check-action-wrapper">
                            <h4 class="label">Select ring for each rotor</h4>
                            <h6 class="label">Hint: Type a three-letter string consisting of uppercase alphabets</h6>
                            <input type="text" name="ring" value="{{ ring }}">
                        </div>
                    </div>

                    <div class="check-action-wrapper">
                        <h4 class="label">Select reflector</h4>
                        <select name="reflector">
                            <option value="UKW-B">UKW-B</option>
                            <option value="UKW-C">UKW-C</option>
                        </select>
                    </div>

                    <div class="check-action-wrapper">
                        <h4 class="label"> Input Plugboard</h4>
                        <h6 class="label"> 
                            Format: pair of unique letters separated by commas<br>
                            Example: AB,CD,XY,FT (this means, A is swapped with B, C with D, etc.)
                        </h6>
                        <input type="text" name="plugboard" value="{{ plugboard }}">
                    </div>

                </div>

                <div class="text-wrapper container-row">
                    <div class="txtarea-wrapper container-col">
                        <h4 class="label">Input your text</h4>
                        <textarea name="message" rows="10" cols="30">{{ inputtext }}
                        </textarea>  
                    </div>

                    <div class="txtarea-wrapper container-col">
                        <h4 class="label">Cipher Result</h4>
                        <textarea rows="10" cols="30">{{ result }}</textarea>
                    </div>
                </div>
            </div>
        </form>

        <div class="container-col">
            <div>
                <button class="submit-button" value="Upload" onclick="submitAll()"><span>Submit</span></button>
            </div>
            <button class="back-button">
                <a href="{{ url_for('landing') }}">
                    <div class="c-button">
                        Back to Menu
                    </div>
                </a>
            </button>
        </div>
        
    </body>

</html>